* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  height: 100vh;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  background-color: white;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0px 70px 20px 70px;
}

.main__images {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.logo-tele {
  width: 100%;
  height: 100%;
  min-width: 300px;
  max-width: 500px;
}

.card-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 300px;
  padding: 30px 35px;
  background: #3c5295;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #000000;
}

.card-login > h1 {
  font-weight: bold;
  color: #ffffff;
  font-weight: 800;
  margin: 0;
}

.textfield {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}

.textfield > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #ffffff;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #000000;
  outline: none;
  box-sizing: border-box;
}

.textfield > label {
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffffff;
}

.textfield > input::placeholder {
  color: #000000;
}

.btn-login {
  width: 100%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #000000;
}

.btn-cadastro {
  font-weight: bold;
  color: #ffffff;
}

.btn-cadastro > a {
  font-weight: bold;
  color: #ffffff;
}

@media (max-width: 950px) {
  .main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .persons-image {
    display: none;
  }
}
